    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Website</title>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
            <nav class="navbar">
                <ul class="nav-link1">
                    <li><a href="/user">Sign-In</a></li>
                </ul>
                <div class="logo">
                    <h1><strong>Blogify</strong></h1>
                </div>
                <ul class="nav-link2">
                    <li><a href="/login">Log-In</a></li>
                </ul>
        </nav><center>
            <h3>Welcome!</h3>
        <p class="landing-page">Your go-to destination for insightful articles and inspiring stories.</p>
        </center>
        <div id="allBlogsContainer">
        </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script src="home.js"></script>
    </body>
    </html>
