<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form action="/login" method="post">
    <h1>Log-In</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="mail" name="mail" placeholder="E-mail">
        <button type="submit" onsubmit="verifymail(event)">Log-In</button>
    </form>
    <script>
async function verifymail(event) {
    event.preventDefault();

    try {
            await axios.post("/verifyemail");
            alert("Verification email sent. Please check your email.");
            event.target.submit();
    } catch (error) {
        console.log(error);
    }
}

    </script>
</body>
</html>